<ul class="<%-include('colorClass.ejs')%>">
<li><a class="<%= (typeof page != 'undefined' && page == 'home' ? 'active' : '')%>" href="/">Home Site</a></li>
<li><a class="<%= (typeof page != 'undefined' && page == 'product' ? 'active' : '')%>" href="/product">Product Site</a></li>
<li><a class="<%= (typeof page != 'undefined' && page == 'contact' ? 'active' : '')%>" href="/contact">Contact Site</a></li>
<li><a class="<%= (typeof page != 'undefined' && page == 'test' ? 'active' : '')%>" href="/test">Test</a></li>
</ul>