<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<%- include('partials/styles.ejs') %> 
	<title><%- include('partials/titles.ejs') %></title>
</head>
<body>
	<header class="header  <%- include('partials/colorClass.ejs') %>">
		<h1><%- include('partials/titles.ejs') %></h1>
	</header>

	<nav class="nav">
		<%- include('partials/navContent.ejs')%>
	</nav>


	<main class="main">HER ER MAINEN</main>


	<footer class="footer">HER ER FOOTEREN
	</footer>

	<%- include('partials/scripts.ejs') %>
	
</body>
</html>